div, button, p {
    font-family: Roboto;
}


/* DISPLAY */
.display-container {
    height: 100%;
    text-align: right;
    /* background-color: black; */
    color: white;
}

.display {
    height: 100%;
    background-color:rgb(39, 39, 39);
    padding: 2px 2% 2% 2%;
    border-radius: 10px 10px 0px 0px;
    text-align: right;
    margin: 0 0 0 0;
}

.display-text {
    display:block;
    width: 100%;
    word-wrap:break-word;
}

/* DISPLAY */
/* CALCULATOR CONTAINER */
.calculator-container {
    background-color: rgb(39, 39, 39);
    border: none solid rgb(167, 163, 163);
    border-radius: 10px;
    width: 200px;
    height: 200px;
}
/* CALCULATOR CONTAINER */
/* KEYS */
.keys-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    background-color: rgb(167, 163, 163);
    border-radius: 10px;
}

.keys-column {
    display: flex;
    flex-direction: column;
}

button {
    padding: 20 20 20 20;
    margin: 0 0 0 0;
    border-color: rgb(197, 197, 197);
    border-width: 1px;
    border-radius: 1px;
    background: rgb(240, 240, 240);
    color:rgb(36, 36, 36);
    transition: background-color 0.15s;
}

button:hover {
    background-color: rgb(230, 235, 240);
}

.zero {
    border-bottom-left-radius: 10px;
}

.equals {
    border-bottom-right-radius: 10px;
    background: rgb(252, 187, 91);
    height: 100%;
}

.operator {
    background: rgb(216, 216, 216);
}


/* KEYS */